**/target/
**/catalina*
**/log.txt
!.mvn/wrapper/maven-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr
*.log

/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
applogs/*
LOG_DIR_IS_UNDEFINED/*

logs/